@import url("./pagina-1.css");
@import url("./pagina-2.css");
@import url("./pagina-3.css");
@import url("./pagina-4.css");

/* styles/global.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Prohíbe cualquier scroll */
    background-color: #111; /* Fondo oscuro del lector */
    font-family: sans-serif;
}

.escenario-3d {
    perspective: 2000px;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagina-comic {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    box-sizing: border-box;
}

/* El contenedor interno ahora ocupa toda la altura de la pantalla al 100% */
.grupo-paneles {
    position: relative;
    width: 100%;
    height: 100vh; /* Cambiamos a 100vh exacto porque ya no hay barra de botones */
    overflow: hidden;
}

.grupo-paneles img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    opacity: 0;
    will-change: opacity, transform;
    transform: translateZ(0);
    backface-visibility: hidden;
}

/* Barra inferior de botones */
.navegacion {
    height: 65px;
    flex-shrink: 0; /* Evita que la barra colapse */
    padding: 0 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    z-index: 100;
}

.link-transicion {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.link-transicion:hover {
    background-color: #444;
}

.sombra-pliegue {
    position: absolute;
    top: 0; 
    right: 0;
    width: 100%; 
    height: 100%;
    /* Un degradado que simula la profundidad del doblez */
    background: linear-gradient(to left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 30%);
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}