/* Usamos .comic-p1 (clase) */
.comic-p1 .grupo-paneles img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Encoge las imágenes para que encajen perfectas en la pantalla */
    z-index: 10; 
}

/* El JPG se va al fondo */
.comic-p1 .grupo-paneles img[src*=".jpg"] {
    z-index: 1;
}