/* styles/pagina-4.css */

.comic-p4 .grupo-paneles img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 5; /* Los paneles flotan arriba */
}

/* Fuerza a la imagen pintada de desenlace a irse detrás */
.comic-p4 .grupo-paneles img[src*="pag_4_fin"] {
    z-index: 1;
}